@font-face {
  font-family: 'cwTeXKai';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/cwtexkai/v3/cwTeXKai-zhonly.eot);
  src: url(//fonts.gstatic.com/ea/cwtexkai/v3/cwTeXKai-zhonly.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/cwtexkai/v3/cwTeXKai-zhonly.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/cwtexkai/v3/cwTeXKai-zhonly.woff) format('woff'),
       url(//fonts.gstatic.com/ea/cwtexkai/v3/cwTeXKai-zhonly.ttf) format('truetype');
}

@font-face {
  font-family: 'hkkaikk';
  src: url(../fonts/hkkaikk.ttf);
}

@font-face {
  font-family: 'Archicoco';
  font-style: normal;
  font-weight: normal;
  src: local('Archicoco Regular'), url(../fonts/Archicoco.woff) format('woff');
}

canvas {
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
}

@font-face {
  font-family: 'SweiSans';
  src: url(https://cdn.jsdelivr.net/gh/max32002/swei-sans@2.101/WebFont/CJK%20TC/SweiSansCJKtc-Regular.woff2) format("woff2"),
       url(https://cdn.jsdelivr.net/gh/max32002/swei-sans@2.101/WebFont/CJK%20TC/SweiSansCJKtc-Regular.woff) format("woff");
}

#bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-attachment: fixed;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: brightness(.3);
  z-index: -1;
  top: 0;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  width: 100vw;
  overflow-x: hidden;
  height: 100vh;
  cursor: url(../images/cursor.png) 0 0, auto !important;
}

#footer a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

#tab li {
  border-radius: 5px;
}

#tab a {
  color: white;
  text-decoration: none;
}

#tab li.active {
  background: white;
  color: black;
}

#tab li.active a,
#tab li.active svg {
  color: black !important;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s ease;
}

.fade-enter-from, .fade-leave-to {
  opacity: 0;
}
